{% extends 'monTemplate.html.twig' %}

{% block titrePage %}Inscription sur ProStage{% endblock %}

{% block contenu %}
{{ form_start(vueFormulaire)}}

{{ form_row(vueFormulaire.email) }}

{{ form_row(vueFormulaire.password) }}

<button type="submit" class="btn btn-dark">S'inscrire</button>

{{ form_end(vueFormulaire) }}
{% endblock %}