 {% extends 'monTemplate.html.twig' %}

 {% block title %} Prostage - Ajouter une entreprises {% endblock %}

 {% block contenu %}
 <h2> Ajout d'une entreprise </h2>
{{form(vueFormulaireEntreprise)}}
{% endblock %}