 
{% extends 'monTemplate.html.twig' %}


{% block title %}ProStage - Stages{% endblock %}

{% block contenu %}
<style>
    .example-wrapper { margin: 1em auto; max-width: 800px; width: 95%; font: 18px/1.5 sans-serif; }
    .example-wrapper code { background: #F5F5F5; padding: 2px 6px; }
</style>
<div class="example-wrapper">
 <h2>Cette page affichera le descriptif du stage ayant l'identifiant {{ valeur_id }}</h2>

 <table class="table">
  <thead class="thead-dark">
    <tr>
      <th scope="col">Numéro</th>
      <th scope="col">Nom</th>
      <th scope="col">Activité</th>
      <th scope="col">Adresse</th>
       <th scope="col">Description</th>
      <th scope="col">Formation</th>
       <th scope="col">Email contact</th>
       <tbody>
    <tr>
      <th scope="row">1</th>
      <td>Mark</td>
      <td>Développement web</td>
      <td>57 Rue de Mirambeau</td>
      <td>Un super stage avec des gens sympas</td>
      <td> Licence Pro</td>
      <td>contatc@gmail.com</td>
    
    </tr>
    </body>
    
    </tr>
  </thead>
</table>


 </div>
{% endblock %}