<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <title>{% block title %}ProStage{% endblock %}</title>
        {% block stylesheets %}{% endblock %}
    </head>
    <body>
        
        {% block Titre %} 
        <h1> ProStage</h1>
        {% endblock %}
        
        {% block contenu %} 
     
        {% endblock %}
        
        {% block footer %} 
     <p> Ce site a été créé avec Symfony </p>
        {% endblock %}
        
        {% block javascripts %}{% endblock %}


    </body>
</html>
